.basewrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-right: @grid-gutter-width / 2;
    padding-left: @grid-gutter-width / 2;
}

.gridbuilder(@class: ~"") {
    .direction-row@{class} {
        flex-direction: row;
    }

    .direction-reverse@{class} {
        flex-direction: row-reverse;
    }

    .direction-column@{class} {
        flex-direction: column;
    }

    .direction-column-reverse@{class} {
        flex-direction: column-reverse;
    }

    .align-items-top@{class} {
        align-items: flex-start !important;
    }

    .align-items-center@{class} {
        align-items: center !important;
    }

    .align-items-bottom@{class} {
        align-items: flex-end !important;
    }

    .justify-items-left@{class} {
        justify-content: flex-start;
    }

    .justify-items-right@{class} {
        justify-content: flex-end;
    }

    .justify-items-center@{class} {
        justify-content: center;
    }

    .justify-items-between@{class} {
        justify-content: space-between;
    }

    .justify-items-around@{class} {
        justify-content: space-around;
    }

    .align-self-top@{class} {
        align-self: flex-start !important;
    }

    .align-self-center@{class} {
        align-self: center !important;
    }

    .align-self-bottom@{class} {
        align-self: flex-end !important;
    }

    #each-grid-col(@grid-cols, @class);

    .@{classname-col}-auto@{class} {
        flex: 1 1 0;
        width: auto;
    }

    .@{classname-col}-content@{class} {
        flex: 0 0 auto;
        width: auto;
    }

    #each-grid-offsetcol((@grid-cols - 1), @class);

    .@{classname-col}-order-first@{class} {
        order: -1;
    }

    .@{classname-col}-order-last@{class} {
        order: @grid-order-options + 1;
    }

    #each-grid-ordercol(@grid-order-options, @class);

    .@{prefixname}break@{class} {
        width: 100% !important;
    }
}

#each-grid-col(@i, @class) when (@i > 0) {
    @width: percentage(@i / @grid-cols);

    .@{classname-col}-@{i}@{class} {
        flex: 0 0 @width;
        max-width: @width;
    }

    #each-grid-col((@i - 1), @class);
}

#each-grid-offsetcol(@i, @class) when (@i > = 0) {
    @width: percentage(@i / @grid-cols);

    .@{classname-col}-offset-@{i}@{class} when (@i > = 0) {
        margin-left: @width;
    }

    #each-grid-offsetcol((@i - 1), @class);
}

#each-grid-ordercol(@i, @class) when (@i > 0) {
    .@{classname-col}-order-@{i}@{class} {
        order: @i;
    }

    #each-grid-ordercol((@i - 1), @class);
}
